<div class="component-events">
  <div class="grid-container">

    <div class="grid-x grid-margin-x">
      <div class="large-4 cell">
        <a href="#">
          <div class="card card-event">
            <div class="card-section">
              <h3>Pizza Party</h3>
              <p class="lead">Monday, June 11th</p>
              <p>This is going to be a zombie themed Pizza Party sponsored by the Minnesota Zombia Acceptance Council. Just
                open your god damn doors folks and have some brainszzzzz</p>
              <p>Err, ehem... delicious brainza</p>
            </div>
          </div>
        </a>
      </div>
      <div class="large-4 cell">
        <a href="#">
          <div class="card card-event">
            <div class="card-section">
              <h3>Zombie Party</h3>
              <p class="lead">Tuesday, June 12th</p>
              <p>This is going to be a zombie themed Pizza Party sponsored by the Minnesota Zombia Acceptance Council. Just
                open your god damn doors folks and have some brainszzzzz</p>
              <p>Err, ehem... delicious brainza</p>
            </div>
          </div>
        </a>
      </div>
      <div class="large-4 cell">
        <a href="#">
          <div class="card card-event">
            <div class="card-section">
              <h3>Music Party</h3>
              <p class="lead">Wednesday, June 13th</p>
              <p>This is going to be a zombie themed Pizza Party sponsored by the Minnesota Zombia Acceptance Council. Just
                open your god damn doors folks and have some brainszzzzz</p>
              <p>Err, ehem... delicious brainza</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>