<footer>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <h2>Contact</h2>
        <div class="grid-x grid-margin-x">
          <div class="cell large-4">
            <h3>MGMT</h3>
            <p class="person">Contact's Name</p>
            <p class="phone-number">T+ 1-555-555-5555</p>
            <p class="email">name@domain.com</p>
          </div>
          <div class="cell large-4">
            <h3>Booking</h3>
            <p class="person">Contact's Name</p>
            <p class="phone-number">T+ 1-555-555-5555</p>
            <p class="email">name@domain.com</p>
          </div>
          <div class="cell large-4">
            <h3>Press</h3>
            <p class="person">Contact's Name</p>
            <p class="phone-number">T+ 1-555-555-5555</p>
            <p class="email">name@domain.com</p>
          </div>
          <div class="cell large-4">
            <h3>Inquiries</h3>
            <p class="person">Contact's Name</p>
            <p class="phone-number">T+ 1-555-555-5555</p>
            <p class="email">name@domain.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>