<div class="title-bar" data-responsive-toggle="main-animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x">


    <div class="top-bar" id="main-animated-menu" data-animate="hinge-in-from-top spin-out">
      <div class="top-bar-left">
        <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
          <li class="menu-text">Ben Rogue</li>
          <li>
            <a href="{{root}}">Home</a>
          </li>
          <li>
            <a href="{{root}}about">About</a>
          </li>
          <li>
            <a href="{{root}}music">Music</a>
          </li>
          <li>
            <a href="{{root}}videos">Videos</a>
          </li>
          <li>
            <a href="{{root}}art">Art Work</a>
          </li>
          <li>
            <a href="{{root}}events">Events</a>
          </li>
          <li>
            <a href="{{root}}booking">Booking</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        {{> menu-social}}
      </div>
    </div>
  </div>
</div>