<h3>Photos</h3>
<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell large-12">
    <img src="http://placehold.it/1280x860" alt="">
  </div>
</div>
<div class="grid-x grid-margin-x grid-margin-y large-up-4">
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
  <div class="cell">
    <img src="http://placehold.it/640x640" alt="">
  </div>
</div>