<hr>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12">
      <h2>TOUR</h2>
      <div class="grid-x tour">
        <div class="cell large-3">
          <div class="date">
            <div class="month">Jun</div>
            <div class="day">28</div>
            <div class="year">2018</div>
          </div>
        </div>
        <div class="cell large-7">
          <h3>St. Paul, MN</h3>
          <div class="venue">Xcel Energy Center</div>
        </div>
        <div class="cell large-2">
          <button class="tickets">Get Tickets</button>
        </div>
      </div>
      <hr>
      <div class="grid-x tour">
        <div class="cell large-3">
          <div class="date">
            <div class="month">Jun</div>
            <div class="day">28</div>
            <div class="year">2018</div>
          </div>
        </div>
        <div class="cell large-7">
          <h3>St. Paul, MN</h3>
          <div class="venue">Xcel Energy Center</div>
        </div>
        <div class="cell large-2">
          <button class="tickets">Get Tickets</button>
        </div>
      </div>
      <hr>
      <div class="grid-x tour">
        <div class="cell large-3">
          <div class="date">
            <div class="month">Jun</div>
            <div class="day">28</div>
            <div class="year">2018</div>
          </div>
        </div>
        <div class="cell large-7">
          <h3>St. Paul, MN</h3>
          <div class="venue">Xcel Energy Center</div>
        </div>
        <div class="cell large-2">
          <button class="tickets">Get Tickets</button>
        </div>
      </div>
      <hr>
      <div class="grid-x tour">
        <div class="cell large-3">
          <div class="date">
            <div class="month">Jun</div>
            <div class="day">28</div>
            <div class="year">2018</div>
          </div>
        </div>
        <div class="cell large-7">
          <h3>St. Paul, MN</h3>
          <div class="venue">Xcel Energy Center</div>
        </div>
        <div class="cell large-2">
          <button class="tickets">Get Tickets</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>